@charset "utf-8";

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
 
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
 


body {
    line-height:1;
}
 
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
 
nav ul {
    list-style:none;
}
 
blockquote, q {
    quotes:none;
}
 
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
 
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
 
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
 
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
 
del {
    text-decoration: line-through;
}
 
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
 
table {
    border-collapse:collapse;
    border-spacing:0;
}
 
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
 
input, select {
    vertical-align:middle;
}

* {
    margin: 0;
  }




@media screen and (max-width:2800px){


body{
    font-family: sans-serif;
}

nav li{
    list-style: none;
    display: inline;
    margin-right: 34px;
    font-weight: bold;
}

nav{
    margin-left: auto;
    margin-top: 31px;
    margin-right: 100px;
}

.header-logo{
    margin-top: 22px;
    margin-left: 100px;
    font-size: 34px;
    color: #1F91BE;
}

.header-logo h1{
    padding-top: 22px;
}


.header{
    height: 75px;
    display: flex;
}

.main img{
    width: 100%;
    height: auto;
}

.inner{
    max-width: 100%;
    width: 1280px;            /* changed */
    margin: 0 auto;
    padding: 25px;
    display: flex;
}

.contents-wrapper{
    display: flex;
    width: 100%;
}

.about-area{
    margin-top: 100px;
    max-width: 700px;
}


.about-area h1{
    border-bottom: 4px solid #1F91BE;
    color: #1F91BE;
    margin-bottom: 30px;
    font-size: 32px;
    padding-bottom: 9px;
    width: 100%;
}


.about-area img {
    height: auto;    
    width: 100%;
}

.about-area p{  
    font-size: 16px;
    color: #333333;
    margin-right: 0;
    margin-top: 20px;
}


.article-wrapper{
    width: 100%;            /* changed */
} 

.news-area{
    margin-top: 97px;
    max-width: 700px;
}


.news-area h1{
    border-bottom: 4px solid #1F91BE;
    width: 100%;
    color: #1F91BE;
    font-size: 32px;
    margin-bottom: 30px;
    padding-bottom: 9px;
}

.contents-img2{
    margin-left: auto;
    width: 100%;              /* changed */
}

.contents-img1{
    margin-right: 60px;
    width: 100%;              /* changed */
}

.contents{
    display: flex;
}


.news-text{
    border-bottom: 2px solid #6F6F6F;
    display: flex;
    margin-top : 20px;
    max-width: 700px;
}


.text-contents{
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
}

.news-area p{
    font-size: 14px;
}

.news-text span{
    font-weight: bold;
    width: 100%;
}


.side-wrapper{
    width: 30%;              /* changed */ 
    margin-top: 100px;
    margin-left: 20px;
}

.picture-area img{
    margin-bottom: 30px;
    width: 100%;
}

.category-area{
    width: 100%;
}

.category-area ul{
    padding-left: 20px;
    margin-top: 29px;
}

.category-area li{
    margin-bottom: 15px;
    font-weight: bold;
}

.category-area h1{
    border-bottom: 4px solid #1F91BE;
    font-size: 24px;
    color: #1F91BE;
    padding-bottom: 9px;

}

.btn p{
    color: #1F91BE;
    border: 2px solid #1F91BE;
    padding: 8px 34px;
    font-size: 16px;
    margin-top: 20px;
    width: 80px;
}

.btn{
    width: 148px;
    margin-left: auto;
    margin-bottom: 99px;
}


footer{
    height: 50px;
    width: 100%;
    background-color:#C7C7C7;
}

footer p{
    color: #FFFFFF;
    text-align: center;
    padding-top: 18px;
    font-size: 12px;
}
}

@media screen and (max-width: 768px) {

    .inner{
        display: block;
        width: 100%;
    }


    .header{
        display: block;
        height: 60%;
    }

    .header-logo{
        margin-top: 20px;
        margin-left: 60px;
    }

    nav li{
        font-size: 15px;
        margin-right: 10px;
    }

    nav ul{
        padding-bottom: 20px;
    }

    nav{
        margin-top: 20px;        
        margin-left: 60px;
        margin-right: 0; 
        width: 400px;
        max-width: 100%;
    }

    .about-area {
        width: 70%;
        margin: 0 auto;
    }

    .contents p{
        font-size: 13px;
    }

    .news-area{
        width: 70%;
        margin: 0 auto;
        padding-top: 40px;
    }

    .news-area p{
        font-size: 13px;
    }

    .text-contents{
        width: 65%;
    }


    .article-wrapper{
        margin: 0 auto;
    }


    .side-wrapper{
        margin: auto;
        width: 60%;
        padding-top: 50px;
    }

  
    .btn{
        margin: 0 auto;
        }

}


@media screen and (min-width: 320px) and (max-width: 460px){

    .header-logo{
        font-size: 18px;
        margin: 0; 
        padding-top: 20px;
        padding-left: 15px;
        width: 30%;
    }

    nav ul{
        padding-left: 15px;
    }


    nav{
       margin: 0;
       padding-top: 10px;
    }

    nav li{
        font-size: 14px;
        padding-right: 12px;
        margin: 0;
    }

    .contents{
        display: block;
    }

    .contents p{
        font-size: 16px;
        margin-bottom: 40px;
    }

    .about-area{
        width: 100%;
        max-width: 345px;
    }

    .about-area h1{
        font-size: 22px;
    }

    .news-text {
        display: block;
    }
    .text-contents{
        margin-top: 20px;
        width: 100%;
    }
    .news-area{
        width: 100%;
        max-width: 345px;
        padding-top: 20px;
    }
    .news-area h1{
        font-size: 22px;
    }

  

    .category-area h1{
        font-size: 22px;
    }

    .category-area li{
        font-size: 14px;
    }

    .side-wrapper{
        max-width: 300px;
        width: 100%;
    }


}
